body, html {
    margin: 0;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    padding: 15px;
    overflow-y: auto;
    display: none;
}

.sidebar.active {
    display: block;
}

.place-image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}
